body{
    margin:0;
    padding:0;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;

}
.login container{
    width: 300px;
    margin:100px auto;
    padding: 20px;
    background-color: white;

}